@import "tailwindcss";
@source "../**/*.{js,jsx,ts,tsx}";
@source "../../src/**/*.{js,jsx,ts,tsx}";

@layer base {
  html, body {
    overflow-x: hidden;
    max-width: 100vw;
    word-break: keep-all;
    overflow-wrap: break-word;
    -webkit-tap-highlight-color: transparent;
  }
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
